/* CSS Custom Properties Definitions */

:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-3xl);
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --spacing-40: 10rem;
  --fontFamily-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --fontFamily-serif: "Georgia", Cambria, "Times New Roman", Times, serif;
  --fontFamily-mono: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --font-body: var(--fontFamily-sans);
  --font-heading: var(--fontFamily-sans);
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;
  --fontSize-root: 20px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;
  --color-primary: #6aab02;
  --color-text: #2e353f;
  --color-text-light: #70997c;
  --color-heading: #1a202c;
  --color-heading-black: black;
  --color-accent: #dce9da;
  --light-texture: url(https://tysonnetau.blob.core.windows.net/blog/images/white-prism.png);
  --dark-texture: url(https://tysonnetau.blob.core.windows.net/blog/images/stars.jpg);
  --dark-bg: url(https://tysonnetau.blob.core.windows.net/blog/images/nebula.png);
}

[data-color-mode="dark"] {
  --color-primary: #6ddf94;
  --color-text: #c9d1d9;
  --color-text-light: #a5ffd0;
  --color-heading: #f0f6fc;
  --color-heading-black: #dde3f1;
  --color-accent: #162221;
  --background-color: #0d1117;
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  transition-property: color background-color;
  transition-duration: 200ms;
}

html[data-color-mode="dark"] {
  background: #010409 top center no-repeat;
  background-image: var(--dark-bg);
  background-size: 350%;
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  color: var(--color-text);
}

footer {
  padding: var(--spacing-4) var(--spacing-6);
  background: var(--color-accent);
}

[data-color-mode="dark"] footer {
  background: rgb(2 76 62 / 30%);
  backdrop-filter: blur(50px) saturate(1.5) hue-rotate(15deg);
}

footer.bio {
  border-radius: 10px;
}

hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fontWeight-bold);
  color: var(--color-heading);
}

h1 {
  font-weight: var(--fontWeight-black);
  font-size: var(--fontSize-6);
  color: var(--color-heading-black);
}

h2 {
  font-size: var(--fontSize-5);
}

h3 {
  font-size: var(--fontSize-4);
}

h4 {
  font-size: var(--fontSize-3);
}

h5 {
  font-size: var(--fontSize-2);
}

h6 {
  font-size: var(--fontSize-1);
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

/* Prose */

p {
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0);
  padding: var(--spacing-0);
}

ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  /* padding: var(--spacing-0); */
  margin-bottom: var(--spacing-8);
  list-style-position: outside;
  list-style-image: none;
}

ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-8) / 2);
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  /* margin-left: var(--spacing-8); */
  margin-top: calc(var(--spacing-8) / 2);
}

ol > li > ul {
  list-style-type: disc;
}
ol > li > ul > li > ul {
  list-style-type: circle;
}

.blog-post .gatsby-resp-image-wrapper {
  margin-top: var(--spacing-4);
}

blockquote {
  color: var(--color-text-light);
  margin-left: calc(-1 * var(--spacing-6));
  margin-right: var(--spacing-8);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
  border-left: var(--spacing-1) solid var(--color-primary);
  font-size: var(--fontSize-2);
  font-style: italic;
  margin-bottom: var(--spacing-8);
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-accent);
}

/* Link */

a {
  color: var(--color-primary);
}

a:hover,
a:focus {
  text-decoration: none;
}

a.fancy {
  position: relative;
}
a.fancy:hover {
  background: linear-gradient(
    -45deg,
    #6aab02,
    #6aab02,
    #082e0e,
    #71c00a,
    #065d49,
    #6aab02,
    #6aab02
  );
  background-size: 500% 500%;
  animation: gradient 10s ease infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
a.fancy::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    -45deg,
    #6aab028e,
    #082e0e8e,
    #71c00a8e,
    #065d498e
  );
  visibility: hidden;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.2s ease-in-out 0s;
}
a.fancy:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
a[target="_blank"]::after {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjIiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgc3R5bGU9ImZpbGw6IzZhYWIwMjt2ZXJ0aWNhbC1hbGlnbjogLTRweDttYXJnaW4tbGVmdDogMHB4OyI+PHBhdGggZD0iTSAxOCA1IEwgMTggNyBMIDIzLjU2MjUgNyBMIDExLjI4MTI1IDE5LjI4MTI1IEwgMTIuNzE4NzUgMjAuNzE4NzUgTCAyNSA4LjQzNzUgTCAyNSAxNCBMIDI3IDE0IEwgMjcgNSBaIE0gNSA5IEwgNSAyNyBMIDIzIDI3IEwgMjMgMTQgTCAyMSAxNiBMIDIxIDI1IEwgNyAyNSBMIDcgMTEgTCAxNiAxMSBMIDE4IDkgWiI+PC9wYXRoPjwvc3ZnPg==");
  vertical-align: -4px;
}
[data-color-mode="dark"] a[target="_blank"]::after {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjIiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgc3R5bGU9ImZpbGw6IzZkZGY5NDt2ZXJ0aWNhbC1hbGlnbjogLTRweDttYXJnaW4tbGVmdDogMHB4OyI+PHBhdGggZD0iTSAxOCA1IEwgMTggNyBMIDIzLjU2MjUgNyBMIDExLjI4MTI1IDE5LjI4MTI1IEwgMTIuNzE4NzUgMjAuNzE4NzUgTCAyNSA4LjQzNzUgTCAyNSAxNCBMIDI3IDE0IEwgMjcgNSBaIE0gNSA5IEwgNSAyNyBMIDIzIDI3IEwgMjMgMTQgTCAyMSAxNiBMIDIxIDI1IEwgNyAyNSBMIDcgMTEgTCAxNiAxMSBMIDE4IDkgWiI+PC9wYXRoPjwvc3ZnPg==");
}

[data-color-mode="dark"] a.fancy:hover {
  background: linear-gradient(
    -45deg,
    #6ddf94,
    #6ddf94,
    #177926,
    #a6f143,
    #3a927e,
    #6ddf94,
    #6ddf94
  );
  background-size: 500% 500%;
  animation: gradient 10s ease infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
[data-color-mode="dark"] a.fancy::before {
  background: linear-gradient(
    -45deg,
    #6ddf948e,
    #1779268e,
    #a6f1438e,
    #3a927e8e
  );
}

/* Custom classes */

.global-wrapper {
  margin: 0;
  padding: 0;
}

.global-wrapper[data-is-root-path="true"] .bio {
  margin-bottom: var(--spacing-20);
}

.global-header {
  display: flex;
  padding: var(--spacing-6);
  background-color: var(--color-accent);
  box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.2);

  background-image: var(--light-texture);
  background-repeat: repeat;
  background-blend-mode: multiply;
  background-position-y: 94px; /* height of the header/nav - most of the time  */
}

[data-color-mode="dark"] .global-header {
  background: rgb(2 76 62 / 30%);
  backdrop-filter: blur(4px) saturate(1.5) hue-rotate(15deg);
  box-shadow: 0 0 20px rgb(0 0 0 / 50%);
}

.global-header h1 {
  flex-shrink: 1;
  text-transform: uppercase;
  font-size: var(--fontSize-2);
  display: inline-block;
  margin: 0;
}

.global-header h1 a {
  background: linear-gradient(-45deg, #52eea5, #082e0e, #71c00a, #065d49);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

[data-color-mode="dark"] .global-header h1 a {
  background: linear-gradient(-45deg, #86f5c1, #177926, #a6f143, #3a927e);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.global-header nav {
  flex: 1;
  display: inline-block;
  margin-left: 50px;
}

.global-header nav ul {
  display: inline-block;
  list-style: none;
  margin: 0;
}

.global-header nav a {
  color: var(--color-heading);
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 3px;
}

.global-header nav ul li {
  display: inline-block;
  margin: 0 10px;
}

.content-wrapper {
  /* margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-10) var(--spacing-5); */
}

article header {
  background: #f9f9f9 repeat;
  background-image: var(--light-texture);
}

[data-color-mode="dark"] article header {
  background: #02414c;
  background: linear-gradient(to bottom, #01171c 0%, #02414c 100%);
  background-image: var(--dark-texture);
  background-position: 0% 0%;
  background-size: cover;
  animation: verticalpan 100s ease-in-out infinite;
  margin-top: -100px;
}

@keyframes verticalpan {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

ol article header,
[data-color-mode="dark"] ol article header {
  background: none;
}

.blog-header-wrapper {
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-20) var(--spacing-5) var(--spacing-10);
}

[data-color-mode="dark"] .blog-header-wrapper h1 {
  text-shadow: 2px 2px 2px rgb(0 0 0 / 80%);
  padding-top: var(--spacing-20);
}

.page-wrapper {
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-10) var(--spacing-5) var(--spacing-40);
}

.main-heading {
  font-size: var(--fontSize-7);
  margin: 0;
}

.socials {
  display: inline-block;
}
.socials a {
  vertical-align: middle;
  margin: 5px 6px;
}
.socials a:hover svg,
.socials a:active svg {
  opacity: 1;
}
.socials svg {
  height: 25px;
  opacity: 0.7;
  transition: opacity 100ms;
}

.socials svg path {
  fill: black;
}
[data-color-mode="dark"] .socials svg path {
  fill: var(--color-primary);
}
.socials .twitter svg {
  height: 26px;
}
.socials .youtube svg {
  height: 28px;
}
.socials .linkedin svg {
  height: 24px;
}

.post-list {
  margin-top: var(--spacing-10);
  margin-bottom: var(--spacing-10);
}

.post-list-item {
  margin-bottom: var(--spacing-8);
  margin-top: var(--spacing-12);
}

.post-list li:first-child .post-list-item {
  margin-top: 0;
}

.post-list-item p {
  margin-bottom: var(--spacing-0);
}

.post-list-item h2 {
  font-size: var(--fontSize-4);
  color: var(--color-primary);
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-0);
}

.post-list-item header {
  margin-bottom: var(--spacing-4);
}

[data-color-mode="dark"] .post-list-item header {
  margin-top: 0;
}

.header-link-home {
  font-weight: var(--fontWeight-bold);
  font-family: var(--font-heading);
  text-decoration: none;
  font-size: var(--fontSize-2);
}

.color-toggle-btn {
  background-color: transparent;
  border: none;
  opacity: 0.7;
  margin-left: 2rem;
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: relative;
  vertical-align: top;
  overflow: hidden;
}

.color-toggle-btn svg {
  position: absolute;
  top: 30px;
  left: 0;
  transition: all 300ms ease-in-out;
}
.color-toggle-btn #dark-icon {
  fill: black;
  top: 0px;
}
.color-toggle-btn:hover #dark-icon,
.color-toggle-btn:active #dark-icon {
  fill: #00754e;
}
.color-toggle-btn #light-icon {
  fill: white;
}

.color-toggle-btn:hover #light-icon,
.color-toggle-btn:active #light-icon {
  fill: #ffe032;
}

[data-color-mode="dark"] .color-toggle-btn #light-icon {
  top: 0px;
}

[data-color-mode="dark"] .color-toggle-btn #dark-icon {
  top: 30px;
}

.bio {
  display: flex;
  margin-bottom: var(--spacing-16);
}

.bio p {
  margin-bottom: var(--spacing-0);
}

.bio-avatar {
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-0);
  min-width: 50px;
  border-radius: 100%;
}

.blog-post header h1 {
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0);
}

.blog-post header p {
  font-size: var(--fontSize-2);
  font-family: var(--font-heading);
}

.blog-post-nav {
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-0) var(--spacing-5) var(--spacing-10);
}

.blog-post-nav ul {
  margin: var(--spacing-0);
}

.gatsby-highlight {
  margin-bottom: var(--spacing-8);
}

[data-color-mode="dark"] :not(pre) > code[class*="language-"],
[data-color-mode="dark"] pre[class*="language-"] {
  background-color: rgb(27 54 47 / 60%);
  /* backdrop-filter: blur(50px); */
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.book-list li {
  flex: 1 0 calc(33% - 10px);
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.book-list img {
  width: 150px;
}
.book-list .gatsby-image-wrapper {
  box-shadow: 4px 4px 15px rgb(0 0 0 / 15%), 1px 1px 0 rgb(120 120 120 / 35%),
    2px 2px 0 rgb(120 120 120 / 35%), 3px 3px 0 rgb(120 120 120 / 35%),
    4px 4px 0 rgb(120 120 120 / 35%), 5px 5px 0 rgb(120 120 120 / 35%);
}
.book-list figcaption {
  margin: var(--spacing-2) 0 var(--spacing-8);
}

.heading-accent {
  color: var(--color-primary);
}

[data-color-mode="dark"] .heading-accent {
}

/* Light PrismJS theme */

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: var(--fontFamily-mono);
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #9a6e3a;
  /* This background color was intended by the author of this theme. */
  /* background: hsla(0, 0%, 100%, 0.5); */
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function,
.token.class-name {
  color: #dd4a68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/* Dark PrismJS theme */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

[data-color-mode="dark"] code[class*="language-"],
[data-color-mode="dark"] pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: var(--fontFamily-mono);
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
[data-color-mode="dark"] pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

[data-color-mode="dark"] :not(pre) > code[class*="language-"],
[data-color-mode="dark"] pre[class*="language-"] {
  background: #272822;
}

/* Inline code */
[data-color-mode="dark"] :not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

[data-color-mode="dark"] .token.comment,
[data-color-mode="dark"] .token.prolog,
[data-color-mode="dark"] .token.doctype,
[data-color-mode="dark"] .token.cdata {
  color: #8292a2;
}

[data-color-mode="dark"] .token.punctuation {
  color: #f8f8f2;
}

[data-color-mode="dark"] .token.namespace {
  opacity: 0.7;
}

[data-color-mode="dark"] .token.property,
[data-color-mode="dark"] .token.tag,
[data-color-mode="dark"] .token.constant,
[data-color-mode="dark"] .token.symbol,
[data-color-mode="dark"] .token.deleted {
  color: #f92672;
}

[data-color-mode="dark"] .token.boolean,
[data-color-mode="dark"] .token.number {
  color: #ae81ff;
}

[data-color-mode="dark"] .token.selector,
[data-color-mode="dark"] .token.attr-name,
[data-color-mode="dark"] .token.string,
[data-color-mode="dark"] .token.char,
[data-color-mode="dark"] .token.builtin,
[data-color-mode="dark"] .token.inserted {
  color: #a6e22e;
}

[data-color-mode="dark"] .token.operator,
[data-color-mode="dark"] .token.entity,
[data-color-mode="dark"] .token.url,
[data-color-mode="dark"] .language-css .token.string,
[data-color-mode="dark"] .style .token.string,
[data-color-mode="dark"] .token.variable {
  color: #f8f8f2;
}

[data-color-mode="dark"] .token.atrule,
[data-color-mode="dark"] .token.attr-value,
[data-color-mode="dark"] .token.function,
[data-color-mode="dark"] .token.class-name {
  color: #e6db74;
}

[data-color-mode="dark"] .token.keyword {
  color: #66d9ef;
}

[data-color-mode="dark"] .token.regex,
[data-color-mode="dark"] .token.important {
  color: #fd971f;
}

[data-color-mode="dark"] .token.important,
[data-color-mode="dark"] .token.bold {
  font-weight: bold;
}
[data-color-mode="dark"] .token.italic {
  font-style: italic;
}

[data-color-mode="dark"] .token.entity {
  cursor: help;
}

/* PrismJS plugins */
/**
 * Add back the container background-color, border-radius, padding, margin
 * and overflow that we removed from <pre>.
 */
.gatsby-highlight {
  background-color: #fdf6e3;
  border-radius: 0.3em;
  margin: var(--spacing-4) 0;
  padding: 1.4em 1em 1em 1em;
  overflow: auto;
  position: relative;
}
[data-color-mode="dark"] .gatsby-highlight {
  background-color: #272822;
}

/**
 * Remove the default PrismJS theme background-color, border-radius, margin,
 * padding and overflow.
 * 1. Make the element just wide enough to fit its content.
 * 2. Always fill the visible space in .gatsby-highlight.
 * 3. Adjust the position of the line numbers
 */
.gatsby-highlight pre[class*="language-"] {
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow: initial;
  float: left;
  min-width: 100%;
}
.gatsby-highlight-code-line {
  background-color: #b3d9f2cc;
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid #006edb;
}
[data-color-mode="dark"] .gatsby-highlight-code-line {
  background-color: #1b3855cc;
}

/* PrismJS language badges */
.gatsby-highlight pre[class*="language-"] {
  background-color: transparent;
  border: 0;
  padding: 10px 0;
  -webkit-overflow-scrolling: touch;
}
.gatsby-highlight pre[class*="language-"]::before {
  background: #d9d7e0;
  color: #232129;
  border-radius: 0 0 6px 6px;
  font-size: 0.7rem;
  font-family: var(--fontFamily-mono);
  font-weight: bold;
  letter-spacing: 0.08em;
  line-height: 1;
  padding: 6px 9px;
  position: absolute;
  left: 20px;
  text-align: right;
  text-transform: uppercase;
  top: 0;
  text-shadow: none;
}
.gatsby-highlight pre[class="language-javascript"]::before,
.gatsby-highlight pre[class="language-diff-javascript"]::before {
  content: "js";
  background: #f7df1e;
}
.gatsby-highlight pre[class="language-js"]::before,
.gatsby-highlight pre[class="language-diff-js"]::before {
  content: "js";
  background: #f7df1e;
}
.gatsby-highlight pre[class="language-diff-jsx"]::before,
.gatsby-highlight pre[class="language-jsx"]::before {
  content: "jsx";
  background: #61dafb;
}
.gatsby-highlight pre[class="language-typescript"]::before,
.gatsby-highlight pre[class="language-diff-typescript"]::before {
  content: "ts";
  background: #294e80;
  color: white;
}
.gatsby-highlight pre[class="language-ts"]::before,
.gatsby-highlight pre[class="language-diff-ts"]::before {
  content: "ts";
  background: #294e80;
  color: white;
}
.gatsby-highlight pre[class="language-tsx"]::before,
.gatsby-highlight pre[class="language-diff-tsx"]::before {
  content: "tsx";
  background: #294e80;
  color: white;
}
.gatsby-highlight pre[class="language-graphql"]::before,
.gatsby-highlight pre[class="language-diff-graphql"]::before {
  content: "GraphQL";
  background: #e10098;
  color: white;
}
.gatsby-highlight pre[class="language-regex"]::before,
.gatsby-highlight pre[class="language-diff-regex"]::before {
  content: "regex";
  background: #e10043;
  color: white;
}
.gatsby-highlight pre[class="language-html"]::before,
.gatsby-highlight pre[class="language-diff-html"]::before {
  content: "html";
  background: #005a9c;
  color: white;
}
.gatsby-highlight pre[class="language-bicep"]::before,
.gatsby-highlight pre[class="language-diff-bicep"]::before {
  content: "bicep";
  background: #00859c;
  color: white;
}
.gatsby-highlight pre[class="language-css"]::before,
.gatsby-highlight pre[class="language-diff-css"]::before {
  content: "css";
  background: #ff9800;
  color: white;
}
.gatsby-highlight pre[class="language-scss"]::before,
.gatsby-highlight pre[class="language-diff-scss"]::before {
  content: "scss";
  background: #c76494;
  color: white;
}
.gatsby-highlight pre[class="language-dotnet"]::before,
.gatsby-highlight pre[class="language-cs"]::before,
.gatsby-highlight pre[class="language-csharp"]::before,
.gatsby-highlight pre[class="language-diff-dotnet"]::before,
.gatsby-highlight pre[class="language-diff-cs"]::before,
.gatsby-highlight pre[class="language-diff-csharp"]::before {
  content: "C#";
  background: #682b7b;
  color: white;
}
.gatsby-highlight pre[class="language-markdown"]::before,
.gatsby-highlight pre[class="language-diff-markdown"]::before {
  content: "md";
}
.gatsby-highlight pre[class="language-mdx"]::before,
.gatsby-highlight pre[class="language-diff-mdx"]::before {
  content: "mdx";
  background: #f9ac00;
  color: white;
}
.gatsby-highlight pre[class="language-powershell"]::before,
.gatsby-highlight pre[class="language-diff-powershell"]::before {
  content: "powershell";
  background: #205aab;
  color: white;
}
.gatsby-highlight pre[class="language-shell"]::before,
.gatsby-highlight pre[class="language-diff-shell"]::before {
  content: "shell";
}
.gatsby-highlight pre[class="language-sh"]::before,
.gatsby-highlight pre[class="language-diff-sh"]::before {
  content: "sh";
}
.gatsby-highlight
  pre[class="language-bash"]::before
  .gatsby-highlight
  pre[class="language-diff-bash"]::before {
  content: "bash";
}
.gatsby-highlight pre[class="language-yaml"]::before,
.gatsby-highlight pre[class="language-diff-yaml"]::before {
  content: "yaml";
  background: #fcc;
}
.gatsby-highlight pre[class="language-http"]::before,
.gatsby-highlight pre[class="language-diff-http"]::before {
  content: "yaml";
  background: #a8d1ff;
}
.gatsby-highlight pre[class="language-git"]::before,
.gatsby-highlight pre[class="language-diff-git"]::before {
  content: "yaml";
  background: #a8ffd6;
}
.gatsby-highlight pre[class="language-gherkin"]::before,
.gatsby-highlight pre[class="language-diff-gherkin"]::before {
  content: "gherkin";
  background: #009940;
  color: white;
}
.gatsby-highlight pre[class="language-json"]::before,
.gatsby-highlight pre[class="language-json5"]::before,
.gatsby-highlight pre[class="language-diff-json"]::before,
.gatsby-highlight pre[class="language-diff-json5"]::before {
  content: "json";
  background: rgb(223, 190, 228);
}
.gatsby-highlight pre[class="language-diff"]::before {
  content: "diff";
  background: #e6ffed;
}
.gatsby-highlight pre[class="language-text"]::before,
.gatsby-highlight pre[class="language-diff-text"]::before {
  content: "text";
  background: white;
}
.gatsby-highlight pre[class="language-log"]::before {
  content: "log";
  background: white;
}

/* PrismJS diff highlight */

.gatsby-highlight
  pre[class*="language-diff-"]
  > code
  .token.deleted:not(.prefix),
pre > code[class*="language-diff-"] .token.deleted:not(.prefix) {
  background-color: rgba(255, 0, 0, 0.1);
  color: inherit;
  display: block;
}

pre[class*="language-diff-"] > code .token.inserted:not(.prefix),
pre > code[class*="language-diff-"] .token.inserted:not(.prefix) {
  background-color: rgba(0, 255, 128, 0.1);
  color: inherit;
  display: block;
}

/* PrismJS command-prompt */

.command-line-prompt > span:before {
  color: #888;
  content: " ";
  display: block;
  padding-right: 0.8em;
}

/* Prompt for all users */
.command-line-prompt > span[data-user]:before {
  content: "[" attr(data-user) "@" attr(data-host) "] $";
}

/* Prompt for root */
.command-line-prompt > span[data-user="root"]:before {
  content: "[" attr(data-user) "@" attr(data-host) "] #";
}

.command-line-prompt > span[data-prompt]:before {
  content: attr(data-prompt);
}

/* Media queries */

@media (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }
  ul,
  ol {
    list-style-position: inside;
  }
}
